html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.message,
.client-message {
    overflow-wrap: anywhere;
    width: max-content;
}

.message {
    background-color: #673ab7;
}

.client-message {
    align-self: flex-end;
    background-color: #ea39b8;
}

.text,
.username,
.time,
.client-time{
    text-shadow: none;
}

.text {
    color: white;
}

.username {
    color: #00e8ff;
}

.time,
.client-time {
    font-size: 0.7rem;
    margin-left: auto;
    align-self: flex-end;
}

.time {
    color: #c1afe2;
}

.client-time {
    color: #fde4ec;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.chat-scroll {
    flex: 1 1 auto;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    height: 0;
    overflow-y: scroll;
}
