html, body {
    height: 100%;
}

.trim {
    width: max-content;
    overflow-wrap: anywhere;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.chat-scroll {
    flex: 1 1 auto;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    height: 0;
    overflow-y: scroll;
}
